@import "compass/css3";
@import "compass/css3/trnasform;

body {
    background-color: darkslategray;
    widthL 640px;
    margin-left: 20px;
    font-family: "Indie Flower";
    font-size:20px;
    color: lightgrey;
    height: auto;
    text-align: center;
}
    A: link {
        color: white;
        text-decoration: none;
         font-weight:bold;
    }
    A: visited {
        color: white;
        text-decoration: underline;
    }

    A: active {
        color: rgb(58, 55, 55) ;
        
    }
    wrap {
        padding: 5em 0.5em;
        margin: 0 auto;
    }
    h1{
        font-family: Bangers;
        color: #ffff;
        text-align: center;
        white-space: nowrap;
        text-shadow: 5em 5px 0 rgb(238, 238, 162);
        @include skew(0, -6.7deg, false);
        @include transition-property(font-size);
        @include transition-duration(0.5s);
        text-transform: uppercase;
        z-index: 10;
        font-weight: normal;
        font-size: 35px;
        margin-top: 10px 0px 20px 0px;  
    }
    h2 {
        font-family: Bangers;
        margin-top: 10px;
        font-size: 20px;
        text-align: center;
        color: rgb(136, 125, 125);
    }
    h3 {
        font-family: Bangers;
        margin: 10px 10px 10px 20px;
        font-size: 40px;
        text-align: center;
        color: rgb(132, 132, 216);
    }
h4 {
    font-family: Bangers;
        margin: 10px 10px 10px 20px;
        font-size: 20px;
        text-align: left;
        color: rgb(238, 238, 162);
}
    li {
        font-family: Indie Flower;
        font-size: 20px;
        color: rgba(247, 240, 154, 0.849);
        text-align: center;
    }
    ul {
        display: none;
    }
.gemImage {
    width: 200px;
    height: 140px;
    display: block;
    float: left;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    box-sizing: border-box;
    border: 2px solid rgb(132, 132, 216);
    border-radius: 70px;
    text-decoration: none;
}
 .footer {
float: left;
color: white;
font-family: Bangers;
font-size: 20px;
text-align: left;
margin-top: 20px;
margin-left: 15px;
 }