@import "compass/css3";
@import "compass/css3/transform";

body {
    background-color: darkslategray;
    margin-left: 0px;
    font-family: "Indie Flower";
    font-size:20px;
    color: lightgrey;
    height: auto;
    text-align: center;
}

    A: link {
        color: white;
        text-decoration: none;
         font-weight:bold;
    }
    A: visited {
        color: white;
        text-decoration: underline;
    }

    A: active {
        color: rgb(58, 55, 55) ;
        
    }
    wrap {
        padding: 5em 0.5em;
        margin: 0 auto;
    }
    h1{
        font-family: Bangers;
        color: #ffff;
        text-align: center;
        white-space: nowrap;
        text-shadow: 5px 5px 0 rgb(41, 41, 39);
        @include skew(0, -6.7deg, false);
        @include transition-property(font-size);
        @include transition-duration(0.5s);
        text-transform: uppercase;
        z-index: 10;
        font-weight: normal;
        font-size: 35px;
        margin: 10px 0px 0px 0px;  
    }
    h2 {
        font-family: Bangers;
        margin-top: 10px;
        font-size: 20px;
        text-align: center;
        color: rgb(136, 125, 125);
    }
    h3 {
        font-family: Bangers;
        margin: 10px 10px 10px 20px;
        font-size: 40px;
        text-align: center;
        color: rgb(132, 132, 216);
    }
h4 {
    font-family: Bangers;
        margin: 10px 10px 10px 20px;
        font-size: 20px;
        text-align: left;
        color: rgb(238, 238, 162);
}
h5 {
    font-family: Bangers;
        margin: 10px 10px 10px 20px;
        font-size: 40px;
        text-align: center;
        float: left;
        color: rgb(107, 107, 221);
}
    .winsAndLosses {
    float: left;
}
    li {
        font-family: Indie Flower;
        font-size: 20px;
        color: rgba(247, 240, 154, 0.849);
        text-align: center;
    }
   
.gemImage {
    width: 180px;
    height: 120px;
    display: block;
    float: left;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    border: 2px solid rgb(132, 132, 216);
    border-radius: 70px;
    text-decoration: none;
    cursor: pointer;
}
    .gemImage:hover {
        /* Start the shake animation and make the animation last for 0.5 seconds */
        animation: shake 0.5s; 
      
        /* When the animation is finished, start again */
        animation-iteration-count: infinite; 
      }
      
      @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      
}

 .footer {
clear:both;
color: white;
font-family: Bangers;
font-size: 20px;
text-align: center;
margin-top: 20px;
margin-left: 15px;
 }